/* Generalities */

*, ::before, ::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    font-family: Roboto, Ubuntu, sans-serif;
    background-color: #00000f;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    background-color: #031321;
}

header .titles{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}

header .titles h1{
    font-family: 'Zen Tokyo Zoo', Ubuntu, sans-serif;
    text-align: center;
    color: #429ae7;
}

header .titles h3{
    font-family: Ubuntu, Roboto, sans-serif;
    text-align: left;
}

header nav{
    display: flex;
    width: 70%;
    height: 100%;
    color: #2196f3;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 90%;
    margin-right: 10%;
    list-style: none;
    font-family: Montserrat, Ubuntu, sans-serif;
}

header nav ul li{
    text-align: center;
    cursor: pointer;
    width: 20%;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
}

a{
    color: #2196f3;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:hover{
    background-color: #041a2e;
}

/* Neon button effect */
.play:hover{
    background-color: #031321;
}

header nav ul li.play a{
    padding: 15px 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.2s;
    width: auto;
    height: auto;
}

.play a:hover{
    color: #031321;
    background-color: #2196f3;
    text-shadow: none;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3;
    transition-delay: 1s;
}

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

main{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Shop Page*/

.section-name{
    color: #429ae7;
    align-self: center;
    text-decoration: bold;
    font-family: Ubuntu;
}

.store{
    margin-top: 50px;
    list-style: none;
    color: #2196f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.item{
    border: 2px solid #2196f3;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    cursor: pointer;
    background-color: #041a2e;
}

.item:hover{
    box-shadow: #2196f3 0 10px 20px;
    margin-bottom: 20px;
}

.item h3{
    font-family: Ubuntu;
}

.price{
    background-color: #2196f3;
    color: #041a2e;
    display: flex;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 25px;
}